<h1>製品の詳細情報</h1>
<table>
    <tr>
        <th>名称</th>
        <td><%= @product.name %></td>
    </tr>
    <tr>
        <th>価格</th>
        <td>&yen;<%= number_with_delimiter(@product.price)%></td>
    </tr>
</table>
<%= link_to "編集", edit_product_path %>
<%= link_to "この製品の削除", product_path(@product),
method: :delete%>
<%= link_to "葛葉の部屋に戻る", products_path %>
