<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @card.address %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @card.birthday %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
